body{
    margin: 0;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #201f1f;
}
html{
    height: auto;
    width: auto;
}

.p-field {
    margin-bottom: 7px;
}

.datatable-crud-demo .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column {
    word-wrap: break-word;
    width: 6.4em;
}
label{
    margin-top: -0.6 !important;
}
.txt {
    margin: 1vh 0 1vh 0 !important;
    width: 45vw;
}

#catForm{
    text-align: left;

}

#circle {
    margin-left: 40px;
}

.icon{
    color: white;
}


#header h1 {
    font-family: lobster !important;
    font-size: 50px;
    float: left;
    margin-top: 40px;
    color: #9EF1EE;
    margin-left: 20px;
}



h2 {
    color: #9EF1EE;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

select {
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 2px;
}
#spin{
    margin-right: 50vw;
    margin-top: 25vh;
}

.flex{
    display:flex;
    flex-direction: column;
    align-items:flex-end;
}

#carrusel{
    width: 100vw !important;
    margin-top: 2vh;
}



#menu{
    border: none !important;
    left: -1px;
    width: 140px;
}
.p-menubar{
    border: none !important;
}

#imagen{
    height: 189px;
    background-image: url('../assets/fondo.jpg');
}

.buttonsNav {
    display: flex;
    flex-direction: row-reverse;
}


.butNav{
    width: 150px;     
    margin: 20px 10px 20px 0px;
}
.butNavPer{
    display: flex;
    width: 150px; 
    margin: 20px 5px 20px 0px;
    text-decoration: none;
}
.butNavSalir{
    display: flex;
    width: 150px;     
    margin: 20px -31px 20px 0px;
    text-decoration: none;
}


.homeform {
    margin-top: 10px;
    text-align: center;
}

.floatLeft {
    float: left;
    margin-left: 50px;
}

.homeform textarea {
    width: 900px;
    height: 85px;
}

.homeform label {
    color: #D6E4E5;
    font-size: 25px;

}

.contentForm {
    width: 35%;
    height: 400px;
    border: solid #ffeded 5px;
    border-radius: 20px 20px 20px 20px;
    min-width: 250px;
}

.contentList {
    width: 66%;
    height: 400px;
    border: solid #fafafa 5px;
    border-radius: 20px 20px 20px 20px;
    overflow-y: scroll;
}

.contentList h2 {
    text-align: center;
}

#descripcion_titulo {
    width: 45%;
}

.funcion {
    font-size: 15px;
}

.funcionBtt {
    text-align: center;
    border-radius: 50%;
}

.funcionBtt:hover {
    cursor: pointer;
}

#guardar_button {
    border-radius: 50px;
    color: #3554C6;
}

#guardar_button:hover {
    cursor: pointer;
    background-color: purple;
    color: white;
}

.button:hover {
    cursor: pointer;
}

.reset {
    margin: 0px 0px 5px 5px;
}

.reset:hover {
    cursor: pointer;
    background-color: purple;
    color: white;
}

table {
    width: 100%;
    padding-left: 5px;
}

th {
    color: #D6E4E5;
    font-size: 20px;
    text-align: center;
    background-color: #8D0DBC;
}

tr:nth-child(odd) {
    background-color: #C47DF5;
}

td {
    text-align: justify;
    font-size: 15px;
}

#editadoBtt, #deleteBtt, #mostrarLibrosBtt, #editarBtt, #librosPrestados {
    text-align: center;
}

table p {
    font-size: 15px;
    vertical-align: top;
    color: #FAFAFA;
    text-align: center;
}


.display {
    display: inline-flex;
    width: 100%;
}

@media(max-width: 500px){

        .p-button-rounded {
                border-radius: 50%;
                height: 1.65rem !important;
                width: 1.65rem !important;
                margin: 3px;
        }
}