img {
    width: 350px;
    height: auto;
    margin: 10px 0px 40px 0px;
    border-radius: 20px 20px 20px 20px;
    border: solid black 5px;
    box-shadow: 0px 0px 10px 5px #ffffff;
}

.center{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.registro span {
    margin-top: 30px;
    margin-bottom: 30px;
}


.log input {
    width: 18em;
}

.log label {
    margin-left: 45px;
}

.log Button {
    margin-bottom: 10px;
    width: 23em;
    height: "auto";
}

#loading {
    margin-bottom: 10px;
    width: 23em;
    height: "auto";
}



