@media(min-width: 300px) and(max-width: 450px) {
        .datatable-crud-demo {
                width: 24em;
        }
        .card {
                width: 24em;
        }

        #tablaB {
                width: 24em;
        }

        #pr_id_13 {
                width: 25rem !important;
        }

        .column {
                width: 4rem;
        }
        .autor {
                width: 9rem;
        }
        .nombre {
                width: 9rem;
        }

        .p-button-rounded {
                height: 1.357rem !important;
                width: 1.357rem !important;
        }
        td {
                font-size: small;
        }
        .modalEdit {
                width: 380px !important;
                height: 900px !important;
        }
        .dropmenu {
                width: 3.5rem !important;
                left: 17.5rem !important;
                min-width: 0 !important;
        }

        .searchbtn {
                width: 13rem;

        }

        .borrarbtn {
                width: 2rem;
                margin-right: 0;

        }

        .nuevobtn {
                width: 2rem;
                margin-right: 0;
        }
        #imagen {
                height: 114px;
        }
        .p-menu {
                left: 276px !important;
                width: 8rem !important;
        }
}
